body {
    margin: 0;
    padding: 0;
    background-color: rgb(227,227,227);
    display: flex;
    justify-content: end;
    height: 100vh;
    align-items: end;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

h2, h3 {
    margin: 5px;
}

.chat-bot {
    position: relative;
    height: 95vh;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    margin: 20px 20px 0 20px;
    box-shadow: rgba(0,0,0,0.16) 0 10px 36px, rgba(0,0,0,0.06) 0 0 0 1px;
    overflow: hidden;
}

.info-container {
    height: 60px;
    background: linear-gradient(rgb(99, 6, 120), rgb(100, 10, 120));
    padding: 25px;
    color: rgb(244, 244, 244);
    display: flex;
    gap: 25px;
}

.info-container img {
    margin-top: -15px;
}

textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 70px 25px 25px;
    border-top: 1px solid rgb(207,207,207);
}

textarea:focus {
    outline: none;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgb(110, 10, 120);
    color: rgb(207, 207, 207);
    position: absolute;
    bottom: 21px;
    right: 21px;
}

.bubble {
    width: 60%;
    padding: 20px;
    height: auto;
    margin: 10px 25px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.24) 0 3px 8px;
    color: rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start
}

.bubble-header{
    display: flex;
}

.question {
    background-color: rgb(244, 244, 244);
    color: rgb(110, 10, 120);
    padding: 15px 25px;
    float: left;
}

.response {
    margin-left: 50px;
    float: right;
}

.chat-header {
    position: relative;
    z-index: 1;
}

.feed {
    position: absolute;
    bottom: 82px;
    left: 0;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
    .chat-bot{
        width: 100%;
    }

    .bubble{
        font-size: 13px;
    }    
  }